@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "NanumSquareL";
  src: url("assets/fonts/NanumSquareL.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareR";
  src: url("assets/fonts/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareB";
  src: url("assets/fonts/NanumSquareB.ttf") format("truetype");
}

@font-face {
  font-family: "NanumSquareEB";
  src: url("assets/fonts/NanumSquareEB.ttf") format("truetype");
}
