.html {
  height: 100%;
}

.body {
  margin: 0;
  height: 100%;
  overflow-y: clip;
}

.svg {
  position: relative;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.svg-container {
  width: 800px;
  height: 500px;
  overflow-x: scroll;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

.dp-text {
  font-family: "NanumSquareEB";
  font-size: 16px;
}

.dp-node-text {
  font-family: "NanumSquareB";
  font-size: 18px;
}

.dp-tooltip {
  position: absolute;
  visibility: hidden;
  padding: 3px;
  font-family: "NanumSquareB";
  font-size: 11px;
  color: white;
  background-color: black;
  opacity: 0.6;
}

.checkbox-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}
.graph-tooltip {
  position: absolute;
  visibility: hidden;
  font-family: "NanumSquareB";
  font-size: small;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: #fff;
  padding: 5px;
}
