.vis-title {
  font-family: "NanumSquareEB";
  color: black;
  text-align: left;
}

.focus-gen {
  font-family: "NanumSquareB";
  font-size: 12px;
}

.focus-cost {
  font-family: "NanumSquareB";
  font-size: 10px;
}

.gene-tooltip {
  position: absolute;
  visibility: hidden;
  font-family: "NanumSquareR";
  font-size: 12px;
  border: 1px dashed #809fff;
  background-color: white;
  padding: 5px;
}

.node-type-op {
  font-size: 10px;
}

.node-type-rel {
  font-size: 12px;
}

.relation-name {
  font-size: 10px;
}

.cost-text {
  font-size: 15px;
}

.erx-sign {
  font-size: xx-large;
}
