.header-container {
  position: fixed; /* 상단에 고정 */
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1000; /* 가장 앞에 위치 하도록 */
}

.header-title {
  font-family: "NanumSquareEB";
  font-size: x-large;
}
